<%= render 'pages/home' unless user_signed_in? %>

<div id="products" class="transitions-enabled">
  <% @products.each do |product| %>
    <div class="box panel panel-default">
      <%= link_to image_tag(product.image.url(:medium)), product %>
      <div class="panel-body">
        <p>
          <%= product.description %>
        </p>
        <p>
          <strong><%= product.price %></strong>
        </p>
        <p>
          <span class="glyphicon glyphicon-calendar"></span> <%= product.availability %>
        </p>
        <p>
          Number in Stock: <%= product.stock %>
        </p>
      </div>
    </div>
  <% end %>
</div>
